<p style="color: green"><%= notice %></p>

<h1>Wiki</h1>

<div>
    <% @posts.each do |post| %>
        <p>
            <h4><%= post.title %></h4>
            <%= link_to "View", wiki_post_path(post), class: 'wikiLink' %>
        </p>
     <% end %>
</div>

# <div id="wiki_posts">
#   <% @wiki_posts.each do |wiki_post| %>
#     <%= render wiki_post %>
#     <p>
#       <%= link_to "Show this wiki post", wiki_post %>
#     </p>
#   <% end %>
# </div>

<%= link_to "New wiki post", new_wiki_post_path %>
